.navigation {
  position: absolute;
  z-index: 100;
  background-color: var(--nav-color);
  border-radius: 0% 0% 55% 90% / 5% 10% 25% 25%;
  box-shadow: 0px 4px 35px 0px #a13a00bf;
}

.nagivation_img {
  min-width: 229px;
  min-height: 91px;
  margin-left: 60px;
}

.nagivation_text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.nagivation_text-active {
  border: 2px solid #ffffff;
  border-radius: 33px;
  padding: 10px 15px 10px 15px;
}

.nagivation_text-contact {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.nagivation_text-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px;
  border: 1px solid #ffffff;
  padding: 4px;
}

.content_background {
  position: relative;
  background: var(--background-color);
  border-radius: 32px;
  height: 950px;
}

.content_background-child {
  background: var(--background-color-child);
  box-shadow: 0px 4px 27px 0px #b46a2640;
  border-radius: 0px 0px 56px 56px;
  height: 911px;
  padding-top: 30px;
  margin: 0 55px;
}

.content_logo {
  height: 100px;
  margin: 57px 50px;
}

.damsen_logo {
  min-width: 181px;
  min-height: 145px;
}

.content_logo-text {
  font-family: iCiel Koni;
  font-size: 62px;
  font-weight: 900;
  text-align: left;
  color: #ffffff;
}

.content_main-infor-layout-bottom {
  z-index: 1;
  background: #ffca7b;
  padding: 0 0 20px 0;
  border-radius: 50px;
}

.content_main-infor-root {
  border-radius: 50px;
  background: #fde8b3;
  padding: 3px;
}

.content_main-infor-child {
  background: #fff6d4;
  margin: 10px;
  border-radius: 40px;
}

.content_main-infor-child-layout {
  padding: 45px;
  border: 4px dashed #ffb489;
  border-radius: 40px;
}

.content_main-pa {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.content_main-list {
  margin-left: 75px;
  opacity: 0.800000011920929px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #23221f;
}

.content_main-li-icon {
  color: #ff7f0e;
}

.content_main-li {
  line-height: 50px;
}

.content_main-ticket-layout-bottom {
  background: #ffca7b;
  padding: 0 0 20px 0;
  border-radius: 50px;
}

.content_main-ticket-root {
  position: relative;
  border-radius: 50px;
  background: #fde8b3;
  padding: 3px;
}

.content_main-ticket-title {
  position: absolute;
  left: 23%;
  top: -5%;
  background: linear-gradient(176.02deg, #ff000a -12.67%, #c2000b 101.08%);
  border-radius: 5% 5% 55% 55% / 6% 18% 30% 30%;
  padding: 2px;
  box-shadow: 0px 4px 8px 0px #a50f0f73;
}

.content_main-ticket-title-layout {
  border-radius: 5% 5% 55% 55% / 6% 18% 30% 30%;
  border: 2px dashed #ffffff;
  padding: 5px 30px;
}

.content_main-ticket-title-layout p {
  font-family: iCiel Koni;
  font-size: 28px;
  font-weight: 900;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.content_main-ticket-child {
  background: #fff6d4;
  margin: 10px;
  border-radius: 40px;
}

.content_main-ticket-child-layout {
  padding: 35px;
  border: 4px dashed #ffb489;
  border-radius: 40px;
}

.content_main-ticket-child-layout .col {
  padding: 0;
}

.ticket-input {
  box-shadow: -1px 3px 3px 0px #b25b0b80 inset;
  width: 100%;
  border-radius: 10px;
  height: 44px;
  border: none;
  outline: none;
  text-indent: 10px;
}

.ticket-select-button {
  box-shadow: 0px 6px 2px 0px #de9959;
  background: #ffde32;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  color: white;
}

.ticket-calendar-button {
  box-shadow: 0px 6px 2px 0px #de9959;
  background: #ffde32;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  color: white;
}

.book-ticket-button {
  border: none;
  box-shadow: 0px 4px 8px 0px #a50f0f73;
  background: linear-gradient(176.02deg, #ff000a -12.67%, #c2000b 101.08%);
  padding: 3px 90px;
  border-radius: 10px;
  font-family: iCiel Koni;
  font-size: 28px;
  font-weight: 900;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.img-position {
  position: absolute;
}

.img-lisa {
  width: 250px;
}

.img_lisa {
  top: 54%;
  z-index: 2;
}

.img-render {
  width: 650px;
}
.img_render {
  top: 4%;
  left: 55%;
}

.img-02 {
  width: 110px;
}

.img_02 {
  top: 8%;
  left: 54%;
  z-index: 2;
}

.img-03 {
  width: 130px;
}

.img_03 {
  top: 17%;
  left: 44%;
}

.img-04 {
  width: 110px;
}

.img_04 {
  top: 84.7%;
  left: 30%;
}

.img-05 {
  width: 130px;
}

.img_05 {
  top: 33%;
  left: 90.8%;
}

.img-06 {
  width: 100px;
}

.img_06 {
  top: 30%;
  left: 0%;
  z-index: 10;
}

.img-07 {
  width: 130px;
}

.img_07 {
  top: 75%;
  right: 2%;
}

.event_card {
  box-shadow: 4px 4px 45px 0px #6d2e0059;
  border-radius: 20px;
}

.event_card-img {
  border-radius: 20px 20px 0 0;
}

.event_card-body {
  padding: 5px 20px 20px 20px;
  border-radius: 0 0 20px 20px;
}

.event_card-body-title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: #23221f;
}

.event_card-body-address {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #6c7272;
}

.event_card-body-calendar {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.event_card-body-price {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #fa7d09;
}

.event_card-body-button {
  border: none;
  box-shadow: 0px 4px 8px 0px #a50f0f73;
  background: linear-gradient(176.02deg, #ff000a -12.67%, #c2000b 101.08%);
  padding: 3px 40px;
  border-radius: 5px;
  font-family: iCiel Koni;
  font-size: 18px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.content_title {
  font-family: iCiel Koni;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.img-frame-1 {
  width: 400px;
}

.img_frame-1 {
  top: 8%;
  right: 0;
}

.img-frame-2 {
  width: 400px;
}

.img_frame-2 {
  top: 8%;
  left: 0;
}

.img-frame-3 {
  width: 90vw;
}

.img_frame-3 {
  top: 30%;
}

.img-trini {
  width: 220px;
}

.img_trini {
  top: 35%;
  left: -1%;
  z-index: 2;
}

.qr-card-des {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffc226;
}

.qr-card-sep {
  font-size: 30px;
}

.qr-card-icon {
  font-size: 40px;
}

.img-alvin {
  width: 220px;
}

.img_alvin {
  top: 45%;
  left: -4%;
  z-index: 2;
}
